---
pagination:
  data: issues
  size: 1
  alias: issue
permalink: "/malefni/{{ issue.slug }}/"
layout: issue-guide.njk
tags:
  - issue-guide
eleventyComputed:
  title: "{{ issue.title }}"
  description: "{{ issue.short_answer }}"
  order: "{{ issue.order }}"
---
