---
permalink: /byrja-her/index.html
eleventyExcludeFromCollections: true
---
<!doctype html>
<html lang="is">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url=/malefni/">
    <link rel="canonical" href="/malefni/">
    <title>Flutt í Málefni</title>
  </head>
  <body>
    <p>Þessi síða hefur verið flutt í <a href="/malefni/">Málefni</a>.</p>
  </body>
  </html>
