---
pagination:
  data: reports
  size: 1
  alias: report
permalink: "/umraedan/{{ report.slug }}/"
layout: report.njk
tags: reports
eleventyComputed:
  title: "{{ report.article_title }}"
  description: "{{ report.summary }}"
---
